[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl_style_writer = "*"
msgspec = "*"

[dev-packages]
pre-commit = "*"
pandas = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"

[requires]
python_version = "3.11"
