[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
msgspec = "*"
pydantic = "*"

[dev-packages]
pre-commit = "*"
pandas = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pip-tools = "*"
matplotlib = "<=3.7.5"
eval-type-backport = "*"

[requires]
python_version = "3.11"
