-i https://pypi.org/simple
annotated-types
build
cfgv
click
colorama
contourpy
coverage[toml]
cycler
distlib
et-xmlfile
eval-type-backport
execnet
filelock
fonttools
identify
iniconfig
kiwisolver
matplotlib
msgspec
nodeenv
numpy
openpyxl
openpyxl-style-writer
packaging
pandas
pillow
pip
pip-tools
platformdirs
pluggy
pre-commit
pydantic
pydantic-core
pyparsing
pyproject-hooks
pytest
pytest-cov
pytest-xdist
python-dateutil
pytz
pyyaml
setuptools
six
typing-extensions
tzdata
virtualenv
wheel
